<!DOCTYPE html>
<html>
    <head>
        <title>BarCampGR Session Grid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="{{ url_for('favicon', filename='favicon.ico') }}">
        <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/js/ga.js"></script>
    </head>
    <body>
        <h1>BarCampGR Session Grid</h1>
        <div class="cells">
            {% for cell in cell_list %}
                {% if loop.changed(cell.row) %}
                    </div><div class="cells">
                {% endif %}
                <a href="/sliced/{{ cell.grid_item.get_split_rel_path() }}/{{ cell.filename }}">
                    <img width={{ cell_width }} class="cell" src="/sliced/{{ cell.grid_item.get_split_rel_path() }}/{{ cell.filename }}">
                </a>
            {% endfor %}
            </div>
        </div>

    </body>
</html>
