<!DOCTYPE html>
<html>
    <head>
        <title>BarCampGR Session Grid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="refresh" content="120" />
		<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('main.favicon', filename='apple-touch-icon-57x57.png') }}">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('main.favicon', filename='apple-touch-icon-60x60.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('main.favicon', filename='apple-touch-icon-72x72.png') }}">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('main.favicon', filename='apple-touch-icon-76x76.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('main.favicon', filename='apple-touch-icon-114x114.png') }}">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('main.favicon', filename='apple-touch-icon-120x120.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('main.favicon', filename='apple-touch-icon-144x144.png') }}">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('main.favicon', filename='apple-touch-icon-152x152.png') }}">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('main.favicon', filename='apple-touch-icon-180x180.png') }}">
		<link rel="icon" type="image/png" href="{{ url_for('main.favicon', filename='favicon-32x32.png') }}" sizes="32x32">
		<link rel="icon" type="image/png" href="{{ url_for('main.favicon', filename='favicon-194x194.png') }}" sizes="194x194">
		<link rel="icon" type="image/png" href="{{ url_for('main.favicon', filename='favicon-96x96.png') }}" sizes="96x96">
		<link rel="icon" type="image/png" href="{{ url_for('main.favicon', filename='android-chrome-192x192.png') }}" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ url_for('main.favicon', filename='favicon-16x16.png') }}" sizes="16x16">
		<link rel="manifest" href="{{ url_for('main.favicon', filename='manifest.json') }}">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="msapplication-TileImage" content="{{ url_for('main.favicon', filename='mstile-144x144.png') }}">
		<meta name="theme-color" content="#ffffff">        
        <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/main.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <script type="text/javascript" src="/static/js/ga.js"></script>
    </head>
    <body >
        <a href="/" class="title">
            <h1>BarCampGR Session Grid</h1>
        </a>
	<div class="sentence">
            Tap any talk to zoom into that column
	</div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="messages" id="message-wrapper">
                        {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% if grid %}
                <div class="grid-image-div">
                    {% if grid.level == 0 %}{# "basic", not split into grid #}
                        <a href="/image/{{ grid.filename }}">
                            <img class="grid-image" src="/thumbnail/{{ grid.filename }}" />
                        </a>
                    {% elif grid.level == 1 %}{# split into grid #}
                        <div class="cell-row">
                        {% for cell in grid.cells %}
                            {% if loop.changed(cell.row) %}
                                </div><div class="cell-row">
                            {% endif %}
                            <a href="/colview/{{ grid.id }}/{{ cell.col }}">
                                <img class="cell" src="/sliced/{{ grid.get_split_rel_path() }}/{{ cell.filename }}">
                            </a>
                        {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="sentence">
                    Photo updated: {{ grid.upload_dt|timeago }}
                </div>
                <div class="button-wrapper">
                    <a href="/image/{{ grid.filename }}">
                        <div class="button-like btn-view-size">View Large Original</div>
                    </a> 
                    <a href="/sliced/{{ grid.get_split_rel_path() }}/lines.png">
                        <div class="button-like btn-view-diagnostic">Diagnostic</div>
                    </a>
                    <form action="/mark_bad/{{ grid.id }}" id="lnk-mark-bad" method="POST">
                        <button class="button-like btn-mark-bad">Delete</button>
                    </form>
                </div>
            {% else %}
                <div>Image unavailable.</div>
            {% endif %}
        	<div class="button-wrapper">
            	<form action="/upload/" method="POST" enctype="multipart/form-data">
                	<h2>Upload New Grid Image</h2>
                	<input type="file" name="file" size="15">
                	<input type="submit" name="submit" value="Submit">
            	</form>
        	</div>
    </body>
</html>
