[Unit]
Description=Run process_grid.sh to split the images
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/waznexserver/WaznexServer
;Environment="PATH=/opt/waznexserver/env/bin"
ExecStart=/usr/bin/run-one-constantly bash -c 'waznexserver/process_grid.sh; sleep 1'

[Install]
WantedBy=multi-user.target

