body {
    background-color: rgba(16,14,15,1);
    background-image: url("/static/images/dark_wood.png");
    color: rgba(239,241,240,1);
    font-family: sans-serif;
    font-size: medium;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 auto 0 auto;
}

h1 {
    background: rgba(255,255,255,0.1);
    border-bottom: solid 3px black;
    font-size:1.5em;
    margin: 0 auto 0.25em auto;
    padding: 0.25em 0 0.25em 0;
    text-align: center;
}

a.title {
    color: rgba(239,241,240,1);
}

h2 {
    font-size: 1.1em;
    margin: 0 auto 0 auto;
    padding: 0.25em 0 0.25em 0;
    text-align: center;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

div.messages {
    margin: 0 0 0.25em 0;
}

div.message-upload-fail, div.message-upload-success, div.message-removed-bad {
    border: 2px solid black;
    color: rgba(14,16,15,1);
    font-weight: bold;
    margin: 0 0 0.1em 0;
    padding: 0.25em 0.5em 0.25em 0.5em;
    text-align: center;
}
 
div.message-upload-fail {
    background-color: #FFDDDD;
}

div.message-upload-success {
    background-color: #DDFFDD;
}

div.message-removed-bad {
    background-color: #FFFFDD;
}

div.grid-image-div {
    margin: 0.25em 0 0.25em 0;
    text-align: center;
}

img.grid-image {
    height: auto;
    width: 316px;
}

div.cell-row {
    display: flex;
}

img.cell {
    width: 100%;
    height: 100%; /* may distort aspect ratio, but avoids black gaps between rows */
}

img.cell:hover {
    border: solid 1px black;
    margin: -3px;
    transform: scale(1.5);
}

div.cells {
    display: flex;
    margin: 0 auto 0 auto;
    text-align: center;
}

div.sentence {
    display: block;
    margin: 0.25em 0 0.25em 0;
    text-align: center;
    width: 100%
}

div.button-wrapper {
    background: rgba(255,255,255,0.1);
    border: solid black 1px;
    display: block;
    margin: 0.1em auto 0.1em auto;
    padding: 0.25em 0 0.25em 0;    
    text-align: center;
    width: 100%;
}

form {
    display: block;
    text-align: center;
    width: 100%;
}

.button-like {
    color: rgba(16,14,15,1);
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 1em 0.25em 1em;
    margin: 0.25em;
    text-decoration: none;
}

div.btn-view-size {
    background-color: #BBFFBB;
    border: 2px solid #88BB88;
}

div.btn-view-diagnostic {
    background-color: #FFB90F;
    border: 2px solid #8B6508;
}

form#lnk-mark-bad {
    display: inline;
}
.btn-mark-bad {
    background-color: #FF6666;
    border: 2px solid #BB2222;
    cursor: pointer;
    line-height: 1;
    vertical-align: bottom;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 660px) and (min-height: 540px) {
    h1 {
        font-size: 1.75em;
        padding: 0.4em 0 0.4em 0;
    }
    h2 {
       font-size: 1.2em;
    }
    .button-like {
        font-size: 1.1em;
        margin: 0 0.25em 0 0.25em;
        padding: 0.3em 1.4em 0.3em 1.4em;
    }
    button, input {
        font-size: 1em;
        font-weight: bold;
    }
}


